@charset "UTF-8";
@import "../assets/css/color";

.head-info-modal.my-model-content {
  width: auto;
  height: auto;
  .modal-body {
    background: $background_head;
    color: $font_color_white;
  }
  .modal-footer {
    text-align: center;
    button.btn {
      margin: 0;
    }
  }
}