$background_head: #ffa423;
$background_mouse: #ea9722;
$background_list: #ffe5bf;
$background_gray_fill: #d4d3d3;
$font_color_white: #fff;
$font_color_deep_black: #333;
$font_color_black: #666;
$font_color_gray: #999;
$font_color_gray_white: #fefefe;
$breadcrumbs: #CCCCCC;
$background_breadcrumb: #f2f2f2;
$border_color_gray: #d2d2d2;
$hover_yellow: #FFF7E8;
$breadcrumbs_input: #F5F5F5;
$table_th: #e5e5e5;
$table_td: #ebebeb;
$equip_online: #83c700;
$login_frame: rgba(0, 0, 0, 0.10);
$login_input: rgba(0, 0,0, 0.05);