<!--重置密码 （Modal） -->
<div class="modal fade" id="updatePassword" tabindex="-1" role="dialog"
     aria-labelledby="uPassword" aria-hidden="true" ng-controller="updPswCtrl">
    <!--警告提示-->
    <div ng-include="'notice/notice.html'"></div>
    <div class="modal-dialog u-password">
        <div class="modal-content">
            <div class="modal-header u-info-password">
                <button type="button" class="close" ng-click="close()">&times;</button>
                <h4 class="modal-title" id="uPassword">重置密码</h4>
            </div>
            <form name="updPswFrom" novalidate ng-submit="updPsw()">
                <div class="modal-body form-horizontal u-p-body">
                    <div class="form-group">
                        <label for="oldPasswrod" class="col-sm-2 control-label">旧密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="oldPasswrod" ng-model="oldPassword"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswrod" class="col-sm-2 control-label">新密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="newPasswrod" ng-model="newPassword"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-2 control-label">确认密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="confirmPassword" ng-model="affirm" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer u-p-footer">
                    <button type="submit" class="btn" ng-disabled="updPswFrom.$pristine">保存</button>
                    <button type="button" class="btn" ng-click="close()">取消</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>